= image_tag @photo.url(:large)

%h2
  = @photo.try(:title)

%table.table.table-striped
  - if @photo.try(:camera)
    %tr
      %td Camera
      %td
      = @photo.try(:camera)
  - if @photo.exif
    - @photo.exif.each do |row|
      %tr
        %td
          = row[:label]
        %td
          = row[:content]
